<div id="<%= dom_id line %>">
  <p>
    <strong>Name:</strong>
    <%= line.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= line.description %>
  </p>

  <p>
    <strong>Station list:</strong>
    <%= line.stations.map {|station| station.name}.join(', ') %>
  </p>

</div>
