<h1>Editing special day</h1>

<%= render "form", special_day: @special_day %>

<br>

<div>
  <%= link_to "Show this special day", @special_day %> |
  <%= link_to "Back to special days", special_days_path %>
</div>
